        @import url(https://fonts.googleapis.com/css?family=popup+css);
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'poppins', sans-serif;
        }
        
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: url('../public/background1.jpg');
            background-size: cover;
            background-position: center;
        }
        .navbar-expand-lg{
            background: transparent;
            border: 1px solid rgb(255, 255, 255, .5);
            border-radius: 20px;
            backdrop-filter: blur(20px);
        }
        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 99;
        }
        
        .navbar-brand {
            font-size: 1.5em;
            color: #fff;
            user-select: none;
        }

          
        .nav-item {
            font-size: 1em;
            color: #fff;
            user-select: none;
        }
        
        .navigation a {
            position: relative;
            font-size: 1.1em;
            color: #fff;
            text-decoration: none;
            font-weight: 500;
            margin-left: 40px;
        }
        
        .navigation a ::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 100%;
            height: 3px;
            background: #fff;
            border-radius: 5px;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .5s;
        }
        
        .navigation a :hover::after {
            transform-origin: left;
            transform: scaleX(1);
        }
        
        .navigation .btnLogin-popup {
            width: 130px;
            height: 50px;
            background: transparent;
            border: 2px solid #fff;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1.1em;
            color: #fff;
            font-weight: 500;
            margin-left: 40px;
            transition: .5s;
        }
        
        .nav-item {
            color: #162938;
        }
        .card{
            position: relative;
            width: 400px;
            height: 400px;
            background: transparent;
            border: 2px solid rgb(255, 255, 255, .5);
            border-radius: 20px;
            backdrop-filter: blur(20px);
            box-shadow: 0 0 30px rgb(0, 0, 0, .5);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card-register{
            position: relative;
            width: 400px;
            height: 400px;
            background: transparent;
            border: 2px solid rgb(255, 255, 255, .5);
            border-radius: 20px;
            backdrop-filter: blur(20px);
            box-shadow: 0 0 30px rgb(0, 0, 0, .5);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .wrapper{
            position: relative;
            width: 450px;
            height: 600px;
            background: transparent;
            border: 2px solid rgb(255, 255, 255, .5);
            border-radius: 20px;
            backdrop-filter: blur(20px);
            box-shadow: 0 0 30px rgb(0, 0, 0, .5);
            display: flex;
            justify-content: center;
            align-items: center;
          
        }

        .wrapper .form-box {
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 40px;
        }
/*        
        .wrapper .form-box.login {
            transition: transform .18s ease;
            transform: translateX(0);
        }
        
        .wrapper.active .form-box.login {
            transition: none;
            transform: translate(-400px);
        }
        
        .wrapper .form-box.register {
            position: absolute;
            transition: none;
            transform: translateX(400px);
        }
        
        .wrapper.active .form-box.register {
            transition: transform .18s ease;
            transform: translateX(0);
        } */
        .from-box{
            align-items: center;
            text-align: center;
        }
                
        .from-box h2 {
            font-size: 2em;
            color: #fff;
            text-align: center;
        }
        
        .input-box {
            position: relative;
            width: 100%;
            height: 50px;
            border-bottom: 2px solid #162938;
            margin: 30px 0;
        }
        
        .input-box label {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            font-size: 1em;
            color: #fff;
            font-weight: 500;
            pointer-events: none;
            transition: .5s;
        }
        
        .input-box input:focus~label,
        .input-box input:valid~label {
            top: -5px;
        }
        
        .input-box input {
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            font-size: 1em;
            color: #fff;
            font-weight: 600;
            padding: 0 35px 0 5px;
        }
        
        .input-box .icon {
            position: absolute;
            right: 8px;
            font-size: 2em;
            color: #162938;
            line-height: 57px;
        }
        .input-group-text{
            position: absolute;
            right: 1px;
            font-size: 1em;
            color: #162938;  
        }
        
        .remember-forgot {
            font-size: .9em;
            color: #162938;
            font-weight: 500;
            margin: -15px 0 15px;
            display: flex;
            justify-content: space-between;
        }
        
        .remember-forgot label input {
            accent-color: #162938;
            margin-right: 3px;
        }
        
        .remember-forgot a {
            color: #162938;
            text-decoration: none;
        }
        
        .remember-forgot a:hover {
            text-decoration: underline;
        }
        
        .btn {
            width: 100%;
            height: 45px;
            background: #162938;
            border: none;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1em;
            color: #fff;
            font-weight: 500;
        }
       
        .login-register {
            font-size: .9em;
            color: #fff;
            text-align: center;
            font-weight: 500;
            margin: 25px 0 10px;
        }
        
        .login-register p a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }
        
        .login-register p a:hover {
            text-decoration: underline;
        } 